[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "==20.1"
revchatgpt = "==2.0.1"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
